/* === GLOBAL === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: #808289;
}

.section-title {
	font-size: 35px;
	color: #4F5055;
	font-weight: 300;
	margin-bottom: 40px;
	display: block;
}

.block {
	display: block;
}

.normal-text {
	font-weight: 300;
}

/* === HERO SECTION === */

.hero-section {
	position: relative;
	margin-bottom: 120px;
	padding-top: 300px;
	height: 865px;
}

.hero-section .row {
	display: block;
}

.logo-box {
	position: absolute;
    top: 25px;
    left: 50px;
}

.heading {
	font-family: 'Allura', cursive;
	font-size: 90px;
	color: #9CAFE5;
}

.heading-description {
	margin-bottom: 50px;
}

.description-main {
	display: block;
}

.description-sub{
	display: block;
}

.bttn:link,
.bttn:visited {
	padding: 6px 50px;
	text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.bttn:hover{
	color: white;
}

.bg-light-blue {
	background-color: #9CAFE5;
	color: white;
	transition: all .3s;
}

.bg-light-blue:hover {
	background-color: #7c8cb7;
}

.hero-image-box {
	position: absolute;
	width: 58%;
	left: 33.5%;
	top: 0;
	z-index: -1;
}

.hero-image {
	height: 100%;
	width: 100%;
}

.hero-image-shadow {
	position: absolute;
	top: 0;
	right: 0;
	width: 63%;
	height: 845px;
	background-color: #f7f7f7;
	z-index: -2;
}

.social-icons {
	position: absolute;
	right: 0;
	background-color: white;
	width: 8.5%;
    top: 0;
    text-align: center;
    padding: 25px 0;
}

.social-icons div:not(:last-child){
	margin-bottom: 10px;
}

.fa-facebook-f, .fa-instagram, .fa-envelope {
	font-size: 18px;
	color: #BABDC6;
	padding: 10px;
	transition: color .3s
}

.fa-facebook-f:hover {
	color: #3b5998;
}

.fa-instagram:hover {
	color: #dd2a7b;
}

.fa-envelope:hover {
	color: #ffce00;
}




/* === SIDE NAV === */

.side-nav {
	position: fixed;
	right: 2.2%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.circle-link {
	padding: 8px;
}

.circle {
	border: 1px solid #BABDC6;
	height: 9px;
	width: 9px;
	border-radius: 50%;
	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
}

.circle-filled {
	background-color: #BABDC6;
}




/* === QUOTES SECTION === */

.quotes-section {
	margin-bottom: 150px;
}

.quotes-section, .quotes-section .quote-description {
	position: relative;
}

.quotes-section .fas {
	position: absolute;
	font-size: 25px;
	color: #9CAFE5;
}

.quote-description {
	font-size: 22px;
	font-style: italic;
	color: #4F5055;
	display: block;
	margin-bottom: 0;
}

.quote-author {
	margin-top: 30px;
	font-family: 'Allura', cursive;
	font-size: 24px;
	color: #4F5055;
	display: block;
}

.fa-quote-left {
	top: 0;
	left: 8%;
	transform: translateY(-50%);
}

.fa-quote-right {
	top: 100%;
	right: 8%;
}

.vertical-line {
	display: block;
	margin-left: 50%;
	margin-top: 80px;
	transform: translateX(-50%) rotate(90deg);
	height: 0;
	width: 98px;
	border: 0.4px solid #BABDC6;
}




/* === ABOUT COURSE === */

.about-course {
	margin-bottom: 120px;
}

.more {
	display: block;
}

.underline {
	font-size: 16px;
	display: inline;
	margin-right: 30px;
	letter-spacing: -0.2px;
}

.course-aims {
	font-family: 'Allura', cursive;
	font-size: 30px;
	color: #9CAFE5;
}

.about-description p {
	margin-bottom: 1.5rem;
}

.about-description {
	margin-bottom: 50px;
	text-align: justify;
}

.about-course .col-lg-1 {
	position: relative;
}

.about-img-text {
	position: absolute;
	width: max-content;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;

	display: block;
	align-items: center;
	text-align: right;
	letter-spacing: 0.01em;
	text-transform: uppercase;

	color: #BABDC6;
}

.about-course .about-img-text {
	top: 0;
	left: 0;
	transform: translate(-27%, 730%) rotate(-90deg);
}

.about-img {
	width: 100%;
	height: auto;
	margin-left: 75px;
}




/* === WHO BENEFITS === */

.who-benefits {
	margin-bottom: 120px;
}

.who-benefits .col-lg-1 {
	position: relative;
}

.who-benefits .about-img-text {
    top: 76%;
    left: -109%;
    transform: rotate(-90deg);
}

.who-benefits .about-img {
    margin-left: -50px;
}



/* === COURSE PROGRAM === */

.course-program {
	margin-bottom: 120px;
}

.course-header .section-title {
	margin-bottom: 20px;
}

.course-header .underline {
	margin-left: 20px;
}

.day {
	font-family: Open Sans;
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	color: #9CAFE5;
}

.course-header {
	margin-bottom: 50px;
}

.day-program:not(:last-child) {
	margin-bottom: 30px;
}

.day-description {
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 8px;
}

.day-title {
	font-weight: 300;
	font-size: 16px;
}

.day-program .col-md-10 {
	margin-left: -60px;
}



/* === COURSE PROGRAM === */

.subscribe-section {
	background: #EFF1F5;
	margin-bottom: 120px;
}

.subscribe-section .section-title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 34px;
	display: inherit;

	color: #4F5055;
}

.subscribe-section .container {
	padding: 90px 102px;
}

.subscribe-section .bttn {
	margin-left: -6px;
    padding: 9px 36px 10px 30px;
}

.contact-email {
    padding: 10.5px 135px 10.5px 16px;
    font-size: 18px;
    font-weight: 300;
    background: #FFFFFF;
	border: 0.5px solid #BABDC6;
	box-sizing: border-box;
	font-family:'Open Sans', 'Font Awesome 5 Free';
}

.contact-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BABDC6;
  opacity: 1; /* Firefox */
}

.contact-email:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BABDC6;
}

.contact-email::-ms-input-placeholder { /* Microsoft Edge */
  color: #BABDC6;
}




/* === COURSE PROGRAM === */

.about-author {
	margin-bottom: 120px;
}

.about-author .col-lg-1 {
	position: relative;
}

.about-author .about-img-text {
    top: 8%;
    left: 29%;
    transform: rotate(-90deg);
}




/* === TESTIMONIALS === */

.testimonials {
	background: #F7F7F7;
	margin-bottom: 120px;
	padding: 100px 0;
}

.testimonials .quote-description {
	text-align: justify;
	font-style: normal;
	font-size: 18px;
	padding: 0 16px 0 50px;
}

.testimonials .quote-author {
	text-align: right;
	margin-top: 20px;
}

.testimonials .fa-quote-left {
    transform: translateY(0%);
}

.testimonials .col-lg-6 {
	padding: 0 80px;
}

.testimonials .fas {
	color: #9CAFE5;
}

.testimonials .carousel-control-prev {
	width: 5%;
}

.testimonials .carousel-control-next {
	width: 5%;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}




/* === PRICING === */

.pricing {
	margin-bottom: 120px;
}

.pricing .quote-author {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	color: #808289;
	margin-top: 0;
}

.pricing .underline {
	margin-left: 33px;
}

.pricing .quote-description {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	color: #808289;
}

.payment {
	margin-bottom: 50px;
	font-style: normal;
	font-size: 40px;
}

.plan {
	border: 1px solid #BABDC6;
	box-sizing: border-box;
	padding: 60px 50px;
	text-align: center;
}

.plan-description {
	margin-bottom: 50px;
}

.plan-perks {
	margin-bottom: 35px;
}

.plan-heading {
	font-family: Allura;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	margin-bottom: 0;
	color: #9cafe5;
}

.payment-type {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: #BABDC6;
	display: block;
}

.plan-perk-description {
	font-style: normal;
	font-size: 18px;
	color: #808289;
	text-align: left;
}

.plan-perk-description p{
	margin-left: 20px;
}

.not-available {
	font-style: normal;
	font-size: 18px;
	color: #BABDC6;
	display: flex;
	margin-bottom: 20px;
}

.not-available p{
	margin-bottom: 0;
}

.icons {
	position: relative;
}

.icons .fas {
	position: absolute;
	top: 10px;
	left: 0;
	font-size: 10px;
}

.pricing .fa-check {
	color: #a3b4e8;
	left: .5%;
	z-index: 1;
}

.pricing .fa-circle {
	color: #d1ddff;
	z-index: -1
}

.pricing .fa-times-circle {
	font-size: 10px;
}




/*FAQ*/

.faq {
	margin-bottom: 120px;
}

.faq .container {
	padding: 0px 200px;

}

.faq .card-header1 {
	font-weight: 300;
	font-size: 20px;
	color: #4F5055;
	background: white;
	border: none;
    padding-left: 0;
    padding-bottom: 10px;
    padding-right: 0;
    display: flex;
}


.faq .fa-plus {
	margin-left: auto;
	
}

.faq .accordion-toggle {
	text-decoration: none;
}

.faq .question {
    border-bottom: 0.5px solid #BABDC6;
    margin-bottom: 20px;
}

.faq .card-block {
	padding-bottom: 20px;
	font-style: normal;
	font-size: 18px;
	color: #808289;
}




/*FAQ*/

.footer {
	position: relative;
	background: #F7F7F7;
	padding: 58px 0;
}

.list-inline {
	margin-bottom: 0;
}

.list-inline-item {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	color: #4F5055;
	margin: 0 37px;
}

.footer .fab, .footer .far {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #9CAFE5;
}

.copyright {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	color: #808289;
}

.scroll-top {
	position: absolute;
	right: 9%;
	top: 40%;
	transform: rotate(0deg);
}

.footer-social-icons {
	display: flex;
}

.footer-icons {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
}

.footer-link {
	text-decoration: none;
}

.footer-link:hover {
	text-decoration: none;
}

.footer-icons div {
	margin: 0 10px;
}

.sections {
	margin-bottom: 25px;
}




.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	background: rgba(79, 80, 85, 0.24);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.popup_content {
	width: 58%;
	padding: 70px 0 70px 0;
    background-color: white;
	border: 1px solid #F7F7F7;
	box-sizing: border-box;
	box-shadow: 2px 4px 5px #B5B6BD;
	border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 3px;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    transition: all .5s .2s;
    
}

.popup-left {
    width: 33.33333%;
    display: table-cell;
}

.popup_right {
    width:66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.popup-text {
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	color: #808289;
	margin-bottom: 40px;
}

.pop-close:link,  
.pop-close:visited {
    color: rgb(54, 49, 49);
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.2s;
    line-height: 1; 
}

.pop-close:hover {
    color: #55c57a;
}

.btn-green {
	background-color: #55c57a;
	color: #fff;
}

.heading-secondary {
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: #4F5055;
	margin-bottom: 57px;
}

.heading-tertiary {
	font-size: 35px;
	color: #9CAFE5;
	margin-bottom: 93px;
}

.popup .contact-email {
	border: none;
	border-bottom: 1px solid lightgray;
	margin-bottom: 88px;
	transition: all .3s;
	padding: 10.5px 0 10.5px 0;
	width: 91%;
}

.popup .contact-email:focus {
	outline: none;
	box-shadow: 0 1px 10px rgba(95, 95, 95, 0.171);
}

.bg-white-blue {
	color: #9CAFE5;
	border: 1px solid #9CAFE5;
	box-sizing: border-box;
	background: #FFFFFF;
	transition: all .3s
}

.bg-white-blue:hover {
	background: #9CAFE5;
	color: #FFFFFF;
}

.bttn.bg-white-blue {
	padding: 5px 50px;
}